exp_name: 'ConvNext-T'
system:
  gpus: 1
  workers: 4
  batch_size: 8

data:
  val_prop: 0.05
  use_drone: True
  use_google: False

model:
  backbone: 'convnext'
  size: 'tiny'
  image_size: 224
  epochs: 5
  lr: 1e-4
  drone_weight: 1.0
