exp_name: 'tiny'
system:
  gpus: -1
  workers: 4
  batch_size: 26

data:
  root: '/home/shitbox/datasets/University-Release/'
  samearea: False
  augment: True
  sample_equal: True

model:
  size: 'tiny'
  epochs: 200
  head: 
    use: False
    params:
      inter_dims: 768
      hidden_dims: 768
      output_dims: 768

